.root {
    /*-fx-background-color: transparent;*/
    -fx-background-color: #111;
}

.menu-bar {
    /*-fx-background-color: transparent;*/
    -fx-background-color: #333;
    -fx-padding: 0px;
}

.menu-bar-button {
    -fx-background-color: transparent;
    /*-fx-background-color: black;*/
    -fx-text-fill: white;
    -fx-padding: 10px;
}

.menu-bar-button:focused {
    -fx-background-color: #252525;
    -fx-text-fill: #1DA1F2;
}


.menu-bar-button:hover .menu-bar-button-icons {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.menu-bar-button-icons {
    -fx-fill: white;
    -fx-text-fill: white;
}

.tweet-vbox {
    -fx-padding: 10px;
}

.tweet-buttons {
    -fx-background-color: #1DA1F2;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-text-fill: white;
    -fx-padding: 10px;
}

.tweet-buttons:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.logout-buttons {
    -fx-background-color: #6666;
    -fx-text-fill: white;
}

.logout-buttons:pressed {
    -fx-background-color: #333;
}

