.root {
    -fx-background-color: transparent;
    -fx-border-color: #eee;
    -fx-border-width: 0 0 0 1;
}

.icon {
    -fx-fill: black;
    -fx-text-fill: black;
}

.icon:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
    -fx-fill: #666;
}

.search-container {

}

.trend-vbox {
    -fx-padding: 10px;
}

.search-text-field {
    -fx-background-color: #eee;
    -fx-text-fill: black;
    -fx-prompt-text-fill: #333;
    -fx-background-radius: 50px;
}