.root {
    -fx-background-color: #111;
    -fx-padding: 10px;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: #222;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-prompt-text-fill: #666;
}

.text-area .content {
    -fx-background-color: #111;
    -fx-background-radius: 5;
    -fx-box-border: none;
    -fx-border-width: 0;
}

.text-area:focused .content {
    -fx-background-insets: 0;
    -fx-background-color: #222;
    -fx-background-radius: 5;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.viewport {
    -fx-background-insets: 0;
    -fx-background-color: #222;
    -fx-background-radius: 5;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.content {
}

.text {
}

.text-area:focused {
    /*-fx-highlight-fill: #7ecfff;*/

    /*-fx-background-insets: 0;*/
    /*-fx-background-color: transparent, white, transparent, white;*/
    /*-fx-background-radius: 0, 0, 0, 0;*/

    /*-fx-focus-color: -fx-control-inner-background;*/
    /*-fx-faint-focus-color: -fx-control-inner-background;*/
    /*-fx-text-box-border: -fx-control-inner-background;*/
    /*-fx-border-width: -1;*/
}

.tweet-button {
    -fx-background-color: #222;
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-padding: 3px 10px;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
}

.tweet-button:hover {
    -fx-background-color: #333;
    -fx-cursor: hand;
}

.icon {
    -fx-fill: #1DA1F2;
    -fx-background-color: transparent;
    -fx-background-radius: 50px;
    -fx-cursor: hand;
}
