.root {
    -fx-alignment: center;
}

.left-pane {
    -fx-background-color: white;
    -fx-column-halignment: center;
    -fx-row-valignment: center;
    -fx-padding: 30px;
}

.right-pane {
    -fx-background-color: #1DA1F2;
    -fx-alignment: center;
    -fx-padding: 30px;
}

.text-field {
    -fx-background-color: white;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4, 0, 1, 1);
}

.login-button {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right top,  #1DA1F2,rgba(14,188,231,1) 100%);
}

.login-button:hover {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to left , #1DA1F2, rgba(14,188,231,1) 100%);
}

.login-button:hover .arrow-icon {
    -fx-translate-x: 10px;
}

/*.text-field {*/
/*    -fx-padding: 8 15 15 15;*/
/*    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;*/
/*    -fx-background-radius: 8;*/
/*    -fx-background-color:*/
/*            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),*/
/*            #9d4024,*/
/*            #d86e3a,*/
/*            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);*/
/*    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );*/
/*    -fx-font-weight: bold;*/
/*    -fx-font-size: 1.1em;*/
/*}*/

/*.text-field:hover {*/
/*    -fx-background-color:*/
/*            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),*/
/*            #9d4024,*/
/*            #d86e3a,*/
/*            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);*/
/*}*/

/*.text-field:pressed {*/
/*    -fx-padding: 10 15 13 15;*/
/*    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;*/
/*}*/