.root {
    -fx-background-color: transparent;

}

.header {
    -fx-padding: 10px;
}

.tab-pane {
    -fx-tab-min-height: 30px;
    -fx-tab-max-height: 30px;
    -fx-tab-min-width: 100px;
    -fx-tab-max-width: 100px;

    -fx-background-color: transparent;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #222;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab .tab-label {
    -fx-text-fill: #999;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.tab {
    -fx-background-color: transparent;
    -fx-fill: white;
    /*-fx-background-insets: 0;*/
    -fx-background-insets: 0 2 0 0, 0 5 0 0, 1 6 0 0 ;
}

.tab:selected .tab-label{
    -fx-text-fill: white;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #fff;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.scroll-pane {
    -fx-background-color: #111;
}

.centered-tabs .tab-header-background {
    -fx-background-position: top center;
    -fx-background-repeat: repeat;
    -fx-background-size: 0 0, auto;
    -fx-padding: 0.166667em 0 0 0;
}

.centered-tabs .tab {
    -fx-alignment: CENTER;
}
