.root {
    -fx-background-color: #111;
    -fx-text-fill: #ddd;
    -fx-padding: 0 200 0 200;
}

.message-text{
    -fx-wrap-text: true;
    -fx-fill: #ddd;
}

.owner-name-label {
    -fx-font-weight: bold;
}

.light-gray {
    -fx-text-fill: #666;
}

.white {
    -fx-text-fill: #fff;
}


.left-vbox {
}

.center-pane {
    -fx-padding: 3px;
    -fx-border-color: #222;
    -fx-border-width: 0 0 1 0;
}

.avatar-image {
    /*-fx-border-radius: 100%;*/
    /*-fx-border-color: #000000;*/
    /*-fx-border-width: 1px;*/
}

.avatar-image:hover {
    /*-fx-scale-x: 1.1;*/
    /*-fx-scale-y: 1.1;*/
    /*-fx-cursor: hand;*/
}

.tweet-buttons {
    -fx-background-color: transparent;
    -fx-fill: #666;
    -fx-text-fill: #666;
}

.tweet-icon {
    -fx-fill: #666;
    -fx-text-fill: #666;
}

/*.tweet-buttons:hover {*/
/*    -fx-background-color: #e8e8e8;*/
/*}*/

.ellipsis-h-button:hover {
    -fx-text-fill: #1DA1F2;
    -fx-fill: #1DA1F2;
}

.ellipsis-h-button:hover .ellipsis-h-icon {
    -fx-text-fill: #1DA1F2;
    -fx-fill: #1DA1F2;
}

.comment-button:hover {
    -fx-text-fill: #1DA1F2;
    -fx-fill: #1DA1F2;
}

.comment-button:hover .comment-icon {
    -fx-text-fill: #1DA1F2;
    -fx-fill: #1DA1F2;
}

.retweet-button:hover {
    -fx-text-fill: #17bf63;
    -fx-fill : #17bf63;
}

.retweet-button:hover .retweet-icon {
    -fx-text-fill: #17bf63;
    -fx-fill : #17bf63;
}

.like-button:hover {
    -fx-text-fill: #e0245e;
    -fx-fill: #e0245e;
}

.like-button:hover .like-icon {
    -fx-text-fill: #e0245e;
    -fx-fill: #e0245e;
}

.share-button:hover {
    -fx-text-fill: #1DA1F2;
    -fx-fill: #1DA1F2;
}

.share-button:hover .share-icon {
    -fx-text-fill: #1DA1F2;
    -fx-fill: #1DA1F2;
}
